 @import url('http://fonts.cdnfonts.com/css/cocogoose'); 
 @import url('https://fonts.googleapis.com/css2?family=Lato'); 
/* CSS Variables */

*{
  --cap-dark-color: #272a31;
   --cap-orange-color: #ec5242;
  --cap-red-orange-color:#ff4f38;
  --cap-gray-color: #d3d3d3;
  --cap-gray-bk-color:#f0f0f0;
  --cap-gray-dark-color: #797979;
  --cap-gray-very-dark-color:#414246;
  --cap-lato-family: 'Lato', sans-serif;
  --cap-cocogoose-family: 'COCOGOOSE', sans-serif;
  --blur: 10px;
   
} 
/* General use*/
a {
  text-decoration: none;
}

.iconDivider {
  width: 50px;
  height: 2px;
  background-color: var(--cap-orange-color);
  margin-bottom: 0px;
  margin-top: 5px;

}

.iconLeft {
  width: 35px;
  height: 2px;
  background-color: var(--cap-gray-color);
  margin-left: 20px;
}
/* Mobile version */

.topBar{
  display: none;
}
body {
  margin: 0 auto;
  font-family: var(--cap-cocogoose-family);
  
}
h1,.h1{
  background-image: url('../images/descarga.png');
  color: transparent;
  -webkit-background-clip: text;
	background-clip: text; 
  font-weight: 800 ;
  font-family: var(--cap-cocogoose-family); 
  font-style: normal; /*normal, italic, oblique, initial*/
  font-size: 40px;
  line-height: 52px;
 
}

h2,.h2{
  color:var(--cap-red-orange-color); 
   font-family: var(--cap-lato-family); 
 
}


 h3,.h3{
  color:var(--bs-gray);
  font-family: var(--cap-cocogoose-family); 
  text-align: left;
  
}
h4,.h4{
  color:white;
  margin: 0 auto;
  font-family: var(--cap-cocogoose-family); 
}
.racesTitle{
  color:white;
  margin: 0 auto;
  font-family: var(--cap-cocogoose-family); 
}
h5,.h5{
  color:black;
  margin: 0 auto;
}
h6,.h6{
  color:black;
  padding-left: 20px;
  font-family: var(--cap-cocogoose-family); 
}

.lowSection{
  margin: 10px 30px;
}

.lowText{
  color: var(--cap-gray-dark-color);
  font-family: var(--cap-lato-family); 
  padding: 0px 0px;
}

.whiteArticle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../images/backgroundComplete.png) no-repeat  center center;
    background-position: -calc(100% ) -calc(100%);
    
}
  .highSection{
     height: 300px;
     text-align: left;
     padding: 0 30px;
  }


  .mediumSection{
    border: 2px solid white;
    background-color: var(--cap-gray-bk-color);
    margin: 0 30px;
  }
  #racesArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-image: url(/images/pattern_bg.png);
    background-repeat: repeat;
    background-color: rgb(39, 42, 50);
  }
  .blackArticle{
    display: flex;
    flex-direction: column;

      
  }
  .blackArticle div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    
  }
  

  .race1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    margin: 15px;
  }

  .race1 div{
 padding:  0px 20px;
  }

       .raceTitle{
      color: var(--cap-red-orange-color);
      font-family: var(--cap-cocogoose-family);
      font-weight: 400 ;
      font-style: normal; 
  font-size:12px;
  line-height: 20px;
  flex: 0 0 120px;
    }
    .raceDescription{
      color: var(--bs-white);
      font-weight: 200 ;
      font-style: normal; 
  font-size:12px;
  line-height: 12px;
  
    }
    .footerAdd{
      padding: 10px;
    }
    .footerAdd p{
      background-color:  var(--cap-red-orange-color);
      color: white;
      text-align: center;
    }
    .athletesArticle{
      display: flex;
      flex-direction: column;
      text-align: center;
       padding-top: 30px;
      padding-bottom: 30px;
    }
     .athletesHead{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      
    }
    
    .athletes{
      display: flex;
      flex-direction: column;
    }
    .athleteSection{
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    .profile{
      color:var(--cap-orange-color); 
      font-family: var(--cap-lato-family);
      font-style:italic; 
      
      line-height: 20px;
    }
    .records{
      color:black; 
      font-family: var(--cap-lato-family);
      font-style:italic; 
     
      line-height: 15px;
    
    }
    
    .outAthletes{
      color: black;
    }
    .person{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      
    }
    .groupImage{
      background: url(../images/ajedrez.jpg) left top no-repeat;
      background-size: 75px 75px;
      
     }
    .person img{
      width: 150px;
      height: auto;
      padding-left: 13px;
      padding-top: 13px;
    }
    .moreAthletes{
      background-color: white;
      height: 50px;
      margin: 0px 20px;
    } 
    .moreAthletes img{
height: 10px;
      }
      
  p{
 font-family: var(--cap-lato-family);
 padding: 10px 20px;
 text-align: justify;
}

/*Menu Style*/
.animated-icon1{
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span{
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: black;
}


.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

.navbar-toggler:focus,
.navbar-toggler:default,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

button:focus:not(:focus-visible) {
  outline: none;
  border: 0;
}

/* About page*/


main{
  text-align: center; 
}
.highSectionAbout{
  height: 300px;
 }
.aboutParagraph{
  text-align: center;
}
a {
  color: black;
}
.articleLogo{
  border-bottom:  1px solid w var(--cap-gray-color);
}
.contactInfo{
  text-align: center;
  height: 70px;
 }
 .sectionLogo{
   margin: 20px 20px;
   border: 1px solid var(--cap-gray-color);
 }
.articleSeePast{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
 .sectionImages
 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center ;
  
 }
 .sectionImages img{
width: 500px;
padding: 30px 0;
 }
 .articlePartner{
   background-color: var(--cap-gray-very-dark-color);
   display: flex;
   flex-direction: column;
   height: 300px;
   justify-content: space-around;
   
 }

 .row3, .row2{
   display: flex;
   justify-content: space-around;
   
 }
 .row3 img, .row2 img{
   width: 70px;
   height: auto;
   /* mix-blend-mode: multiply; */
 }
 .articleRights{
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-around;
  align-items: center;
 }
 .articleRights img{
   width: 80px;
   height: auto;
 }
 
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .topBar{
    display: block;
    background-color: var(--cap-gray-very-dark-color);
    
  }
  .menu{
    display: flex;
    list-style: none;
    align-items:center;
    justify-content:flex-end;
    height: 30px;
    padding-right: 150px;
  }
  .menu li{
    padding-left: 15px;
    
  }
  .menu li a{
    color:white;
    margin: 0 auto;
    font-family: var(--cap-lato-family); 
  }
  .highSection{
    margin: 0 80px;
  }
  .mediumSection{
    width: 62%;
    margin: 0 80px;
  }
  .lowSection{
    margin: 0 80px;
  }
  .navbar-brand{
    margin: 0 80px;
  }
  
  .blackArticle{
    display: flex;
  flex-direction: row;
  }
  .race1{
    display: flex;
    flex-direction: column;
  }

  .raceTitle{
    font-weight: 400 ;
    font-style: normal; 
font-size:10px;
line-height: 12px;
flex: 1;
  }
  .raceDescription{
    font-weight: 400 ;
    font-style: normal; 
font-size:10px;
line-height: 12px;
text-align: center;
  }
  .footerAdd p{
    background-color:  transparent;
    color: white;
    
  }
  .footerAdd a{
  
      text-decoration:#272a31;
   
  }
  .athletes{
    display: flex;
    flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
    height: 100%;
  }
  .person{
    padding: 0px 0px;
    width: 500px; 
  }
  .person img{
    width: 150px;
    height: auto;
    padding-left: 13px;
    padding-top: 13px;
  }
  .groupImage{
    background-image:url(../images/ajedrez.jpg);
    filter: grayscale(100%);
   background-size: cover;
  background-blend-mode:hue;
  }
}
